[defaults]
nocows = True
become_password_file = .sudo.env
vault_password_file = .sudo.env
inventory = inventory.yml
remote_user = annie
remote_tmp = /tmp/.ansible_neos
retry_files_enabled = False
forks = 2
timeout = 30
strategy = free

[ssh_connection]
pipelining = True
