click>=8.3.0
cryptography>=46.0.1
dnspython>=2.8.0
jmespath>=1.0.1
jsonschema>=4.25.1
molecule>=25.9.0
molecule-lxd @ git+https://github.com/nextlayer-ansible/molecule-lxd.git@b376a8249ed0a885694958b0d93172f4f3a1a611
molecule-plugins>=25.8.12
netaddr>=1.3.0
pytest>=8.4.2
pytest-ansible>=25.8.0
pytest-xdist>=3.8.0
pyyaml>=6.0.2
rich>=14.1.0
tox>=4.30.2
tox-ansible>=25.8.0
xmltodict>=1.0.2
