Banner /etc/issue
ChallengeResponseAuthentication no
ClientAliveInterval 300
DisableForwarding yes
GSSAPIAuthentication no
HostbasedAuthentication no
LogLevel VERBOSE
PasswordAuthentication {{ common_ssh_authorized_key is defined | ternary("no", "yes") }}
PermitEmptyPasswords no
PermitRootLogin no
PrintMotd yes
PrintLastLog yes
TCPKeepAlive no
RekeyLimit 512M 1h
Port 2222
KbdInteractiveAuthentication no
MaxAuthTries 2
AllowTcpForwarding no
X11Forwarding no
AllowAgentForwarding no
AuthorizedKeysFile .ssh/authorized_keyss
{% if common_admin_user is defined and common_admin_user != '' %}
AllowUsers {{ common_admin_user }}
{% endif %}
