---
# handlers file for annie444.homelab.common
- name: Create the Kernel modules sysctl file
  ansible.builtin.file:
    path: /etc/sysctl.d/99-hardening-kernel-modules-disabled.conf
    state: touch
    mode: "0600"
    owner: root
    group: root
    modification_time: preserve
    access_time: preserve
  listen: kernel_modules_disabled
  when: common_os_hardening_disable_kernel_module_loading | bool

- name: Ensure Kernel modules loading is disabled
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-hardening-kernel-modules-disabled.conf
    ignoreerrors: false
    reload: true
    sysctl_set: true
    state: present
    name: "kernel.modules_disabled"
    value: 1
  listen: kernel_modules_disabled
  when: common_os_hardening_disable_kernel_module_loading | bool

- name: Ensure Kernel sysctl is reloaded
  ansible.builtin.command: /usr/sbin/sysctl --system
  changed_when: false
  listen: kernel_modules_disabled
  when: common_os_hardening_disable_kernel_module_loading | bool

- name: Ensure Postfix aliases are reloaded
  ansible.builtin.command: newaliases
  changed_when: false
  listen: postfix reload aliases

- name: Ensure postfix service is restarted
  ansible.builtin.systemd_service:
    name: postfix
    state: restarted
    enabled: true
  listen: restart postfix

- name: Ensure postfix service is reloaded and restarted
  ansible.builtin.systemd_service:
    name: postfix
    state: restarted
    enabled: true
    daemon_reload: true
  listen: reload postfix
